/*
 * CSS Style for Wombat Mail
 * Copyright 2009 Martin Pieuchot
 */

body {
  font-size: 72%;
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
  background-color: white;
  margin: 0;
  padding: 0;
  color: #333;
}

img {border: 0;}

a {color: #06c; text-decoration: none;}
a:hover {color: #f17912;}

#container {margin: 0; padding: 0;}
#header {padding: .5em 1em; border-bottom: 1px solid #959596;}
#content {padding: 1em 2em;}
#footer {font-size: 0.9em; text-align: center;}

.form-login {
  width: 250px;
  border: 1px solid #959596;
  background-color: #efeeee;
}

.form-row, .submit-row {overflow: hidden; padding: 8px 12px;}
label {display: block; padding: 3px 10px 0 0; float: left; width: 5em;}

/* top & right must be the equal to header's padding. */
#options {position: absolute; top: .5em; right: 1em;}
#search input {}
