/*
 * CSS Style for Wombat Mail
 * Copyright 2009 Martin Pieuchot
 */

body {
  font-size: 72%;
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
  background-color: white;
  margin: 0;
  padding: 0;
  color: #333;
}

img {border: 0;}

a {color: #06c; text-decoration: none;}
a:hover {color: #f17912;}

#container {margin: 0; padding: 0;}
#header {padding: .5em 1em; border-bottom: 1px solid #959596;}
#content {padding: 1em 2em;}
#footer {padding: 1em 0; font-size: 0.9em; text-align: center; clear: both;}

.form-login {
  width: 250px;
  border: 1px solid #959596;
  background-color: #efeeee;
}

label {display: block; padding: 3px 10px 0 10px; float: left; width: 70px;}

/* top & right must be the equal to header's padding. */
#options {position: absolute; top: .5em; right: 1em;}

/*
 * Panel
 */

.panel {
  width: 80%;
  float: right;
  border-radius: 10px; /* CSS 3 */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

ul.submenu {}
ul.submenu li {display: inline;}

/*
 * Settings panel
 */
#settings {color: #000; background-color: #f17912;}

#settings a {color: #fff;}
#settings a:hover {color: #000;}
