/*
 * CSS Style for Wombat Mail
 * Copyright 2009,2010 Martin Pieuchot
 */

body {
  font-family: 'Lucida Grande', Verdana, Arial, Helvetica, Sans-Serif;
  font-size: 80%;
  background-color: white;
  color: #333;
}

html, body, #container {padding: 0; margin: 0; height: 100%;}

img {border: 0;}
ul {margin: 0 1em; padding: 0; list-style-type: none;}

a {color: #06c; text-decoration: none;}
a:hover {color: #f17912;}

h1 a, h2 a {color: inherit;}
h1 a:hover, h2 a:hover {color: inherit;}

#header {padding: .5em 1em; border-bottom: 1px solid #959596;}
#header form, #header p {margin: 0; padding: 0;}
#content {padding: 1em 2em;}
#footer {padding: 1em 0; font-size: 0.9em; text-align: center;}

/*
 * Login
 */
h2.title {
  display: block;
  margin-left: 2em;
  padding: 2px 10px;
  background-color: #e0ffb7;
  border-radius: 5px; /* CSS 3 */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#sidebar {
  float: right;
  min-height: 100%;
  height: 100%;
  width: 250px;
  border-left: 1px solid #d1d5d8;
  background-color: #eef2f5;
}

#login-form {top: 60px; position: relative;}
label {display: block; padding: 3px 10px 0 10px; float: left; width: 70px;}
input[type=password], input[type=text] {width: 140px;}

/**
 * Messages and error reporting
 */
/* Form errors */
ul.errorlist {
	list-style: none;
	margin: 5px;
	padding: 5px;
	color: #d44;
	background-color: #fdd;
	border-top: 1px solid #faa;
	border-bottom: 1px solid #faa;
}
.errorlist li { margin: 0; padding: 0; }
/* contrib.messages */
#messages .msg {
	padding: 5px 25px;
	border-bottom: 1px solid #959596;
	text-align: center;
}
#messages .success { background-color: #ffc; }
#messages .info { background-color: #ffc; }
#messages .error { background-color: #fdd; }

/*
 * Panel
 */

.panel {
	padding: 5px 0;
  width: 80%;
  float: right;
	border: 3px solid #6af;
  border-radius: 3px; /* CSS 3 */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.panel .inline {display: inline-block;}
.clear {clear: both;}

/*
 * Menu
 */

li.unread {font-weight: bold;}
li.unread ul {font-weight: normal;}


/*
 * Mail list
 */

.messagecount {float: right;}

ul#messages {
  margin: 5px 0;
  min-height: 200px;
  background: #fff;
	border: 1px solid #d1d5d8;
}

#messages li {
	background: #f0f0f0;
	clear: both;
	border-top: 1px solid #d1d5d8;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#messages li.new {background: #fff;}
#messages li:hover {background: #ffd;}
#messages li:first-child {border-top: none;}

#messages li input[type=checkbox] {float: left;}
#messages li a {
	display: block;
	width: 100%;
	padding: 3px 0;
	position: relative;
}

.from {
	color: #444;
	display: inline-block;
	width: 200px;
	overflow: hidden;
	margin: -3px 0;
}
.new .from {color: #000;}
.date, .attachment {float: right; padding: 0 2px;}
.date { position: absolute; right: 2px; bottom: 3px; }


/* top & right must be the equal to header's padding. */
#options {position: absolute; top: .5em; right: 1em;}

/*
 * Mail display
 */

#thread {border-bottom: 1px solid #ddd; margin-bottom: 5px;}
#thread h2 {
	margin: 5px 0 0 0;
	padding: 5px;
	border-top: 1px solid #ddd;
}
#thread h2 span {
	font-weight: normal;
	font-size: 0.5em;
	margin: 0 3px;
	padding: 2px 3px;
	background-color: #6af;
	color: #fff;
	text-shadow: -1px -1px 0px #48f;
	border: 1px solid #eee;
  border-radius: 3px; /* CSS 3 */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#thread ul {
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
#thread li { padding: 3px; }

.actions { margin: 0; padding: 0 5px; }
.actions p { margin: 0; padding: 0; }
.actions form p { padding: 0; }

.msg_header {
	border-top: 1px solid #ddd;
	padding: 5px;
	font-weight: bold;
	color: #777;
	cursor: pointer;
}


.message { position: relative; }
.message .msg_header { display: none; }
.message .body { padding: 5px; }
.message .body p { margin: 0.5em 0; padding: 0;}
.message .collapse {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 10px;
	background-color: #555;
	color: #fff;
	padding: 5px;
  border-radius: 3px; /* CSS 3 */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.collapsed .msg_header { display: block; }
.collapsed .body, .collapsed .headers { display: none; }
.collapsed .collapse { display: none; }

/*
 * Settings
 */

ul.submenu li {display: inline;}
