{% extends "base.html" %}
{% load i18n mail_tags %}

{% block title %}{{directory|numberize:"unread" }}{% endblock %}


{% block header %}
<div id="header">
  <div id="search">
    <form action="/search/" method="post" id="search-form">
      {% csrf_token %}
      <p>
        <input type="text" name="search" id="id_search" size="20" value="" />
        <input type="submit" value="Search" />
      </p>
  </form>
  </div>

  <span id="options">
    <b>{{ user.get_profile.emails|first }}</b> |
    <a href="{% url settings %}">Settings</a> |
    <a href="{% url logout %}">Log out</a>
  </span>
</div> <!-- #header -->
{% if messages %}<div id="messages">{% for message in messages %}
  <div class="msg {{ message.tags }}">
    {{ message }}
  </div>{% endfor %}
</div>{% endif %}
{% endblock %}

{% block content %}

<div class="panel">
{% block panel %}
  <div class="actions">
    Select: <a>All, None, Read, Unread, Starred, Unstarred</a>
    <a href="{% url check_directory directory.imap.account.slug directory.id %}">Update</a>
    {% include "inc/messagecount.html" %}
  </div>
  <ul id="messages">
    {% for thread in threads %}
    <li{% if not thread.read %} class="new"{% endif %}>
      <input type="checkbox" name="m_{{ thread.id }}" />
      <a href="{% url message directory.imap.account.slug directory.id thread.id %}">
        <span class="from">{{ thread.senders|from }}
          {% if thread.messages_count > 1 %}({{ thread.messages_count }}){% endif %}
        </span>
        {% for mbox in thread.get_mailboxes %}
          {% if unified %}
            {% if mbox.folder_type != 10 %}
              <span class="mbox">{{ mbox }}</span>
            {% endif %}
          {% else %}
            {% if mbox.id != directory.id %}
              <span class="mbox">{{ mbox }}</span>
            {% endif %}
          {% endif %}
        {% endfor %}
        {{ thread.subject|default:"No subject" }}
        <span class="date">{{ thread.last_date|hour_or_date }}</span>
        {% if thread.attachment %}<img class="attachment" src="{{ MEDIA_URL }}img/attach.png" alt="paperclip"/>{% endif %}
      </a>
    </li>
    {% empty %}
    <li>{% trans 'Hooray, no message here' %}!</li>
    {% endfor %}
  </ul>
  <div class="actions">
    Select: <a>All, None, Read, Unread, Starred, Unstarred</a>
    {% include "inc/messagecount.html" %}
  </div>
{% endblock %}
</div>

{% for account in user.get_profile.accounts.all %}
{% if forloop.first %}
<h2><a href="{% url inbox %}">Mail</a></h2>
<ul>
  <li><a href="{% url check_mail %}?from={{ request.get_full_path }}">Check mail</a></li>
  <li><a href="{% url compose %}">Compose</a></li>
</ul>
{% endif %}
<h2><a href="{% url account_inbox account.slug %}">{{ account.name }}</a></h2>

{% with account.common_directories as directories %}
{% include "inc/directory.html" %}
{% endwith %}
<br />
{% with account.custom_directories as directories %}
{% include "inc/directory.html" %}
{% endwith %}

{% endfor %}

<div class="clear">&nbsp;</div>
{% endblock %}
