{% extends "mail.html" %}

{% block panel %}
<div class="actions">
	{% include 'inc/message_menu.html' %}
</div>
<div id="thread">
	{% for message in thread.messages %}
	{% if forloop.first %}
	<h2>{{ message.subject|default:_("No subject") }}{% for label in thread.get_mailboxes %} <span>{{ label }}</span>{% endfor %}</h2>
	{% endif %}
	<div class="message{% if message.read and not forloop.last %} collapsed{% endif %}">
		<div class="msg_header">{{ message.fro }} - {{ message.date|date }}</div>
		<ul class="headers">
			<li><strong>From:</strong> {{ message.fro }}</li>
			<li><strong>To:</strong> {{ message.to|join:", " }}</li>
			{% if message.cc %}<li><strong>Cc:</strong> {{ message.cc|join:", " }}</li>{% endif %}
			<li><strong>Date:</strong> {{ message.date|date }}</li>
		</ul>
		<div class="body">
			<p>{{ message.body|urlize|linebreaksbr}}</p>
		</div>
	</div>
	{% endfor %}
</div>
<div class="actions">
	{% include 'inc/message_menu.html' %}
</div>

<script type="text/javascript">
	$('.collapsed').click(function() {
			$(this).removeClass('collapsed');
	});
</script>
{% endblock %}
