{% load mail_tags %}
<ul class="menu">
  {% for dir in directories %}
  <li {% if dir.unread %}class="unread"{% endif %}>
  {% if dir.no_select %}
  {{ dir }}
  {% else %}
  <a href="{% url directory dir.id %}">
    {{ dir|numberize:"unread" }}
  </a>
  {% endif %}
  {% comment %}
  http://blog.elsdoerfer.name/2008/01/22/recursion-in-django-templates/
  Passing the filename as a variable enables recursion
  {% endcomment %}
  {% if dir.has_children %}
    {% with "inc/directory.html" as filename %}
      {% with dir.children.all as directories %}
        {% if directories %}
          {% include filename %}
        {% endif %}
      {% endwith %}
    {% endwith %}
  {% endif %}
  </li>
  {% endfor %}
</ul>
