{% extends "base_settings.html" %}
{% load i18n %}

{% block title %}Wombat | {% trans 'Accounts' %}{% endblock %}

{% block form %}
<h1>Accounts</h1>
{% for account in accounts %}
	<h2>{{ account }}</h2>
	<ul>
		<li>{{ account.email }}</li>
		<li>
			<a href="{% url edit_account account.id %}">Edit</a> -
			<a href="{% url del_account account.id %}">Delete</a>
		</li>
	</ul>
{% empty %}
<p>You don't have any account yet</p>
{% endfor %}
<p><a href="{% url add_account %}">Add an account</a></p>
{% endblock %}
