{% extends "base_settings.html" %}
{% load i18n %}

{% block title %}Wombat | {% trans 'New account' %}{% endblock %}

{% block form %}
<div class="form">
  <form action="{% url add_account %}" method="post">
    {% csrf_token %}
    <h1>Add an account</h1>
    {{ account.as_p }}
    <h2>IMAP settings</h2>
    {{ imap.as_p }}
    <h2>SMTP settings</h2>
    {{ smtp.as_p }}
    <p><label>&nbsp;</label><input type="submit" value="{% trans 'Save' %}" />
    | <a href="{% url accounts %}">Back</a>
    </p>
  </form>
</div>
{% endblock %}
