{% extends "base.html" %}
{% load i18n %}

{% block title %}Wombat | {% trans 'Free your webmail' %}{% endblock %}

{% block content %}
<h1>Wombat - Login</h1>
<p>{% trans 'Please provide login and password information to access your mail-account.' %}</p>

{% if err_msg %}
  <p class="errornote">{{ err_msg }}</p>
{% endif %}

<div class="form-login">
<form action="{{ app_path }}" method="post" id="login-form">
  <div class="form-row">
    <label for="id_email">{% trans 'Email:' %}</label> <input type="text" name="email" id="id_email" />
  </div>
  <div class="form-row">
    <label for="id_password">{% trans 'Password:' %}</label> <input type="password" name="password" id="id_password" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_email').focus()
</script>
</div>
{% endblock %}
