{% extends "base.html" %}
{% load i18n mail_tags %}

{% block title %}Wombat | {% trans 'Inbox' %} {% if mail_nb %}({{ mail_nb }}){% endif %}{% endblock %}


{% block header %}
<div id="header">
  <div id="search">
    <form action="/search/" method="post" id="search-form">
    <input type="text" name="search" id="id_search" size="20" value="" />
    <input type="submit" value="Search" />
  </form>
  </div>

  <span id="options">
    <b>{{ user.email }}</b> |
    <a href="{% url settings %}">Settings</a> |
    <a href="{% url logout %}">Log out</a></p>
  </span>
</div> <!-- #header -->
{% endblock %}

{% block content %}
<div class="panel">
{% block mail %}
  <ul id="messages">
    <li class="select">Select: <a>All, None, Read, Unread, Starred, Unstarred</a></li>
    {% for m in messages %}
    <li{% if not m.read %} class="new"{% endif %}>
      <a href="{% url message directory.id m.uid %}">
        <input type="checkbox" name="m_{{ m.uid }}">
        <span class="from">
          {% if m.from.0 %}{{ m.from.0 }}{% else %}{{ m.from.1 }}{% endif %}
        </span>
        {% if m.subject %}{{ m.subject }}{% else %}{% trans 'No subject' %}{% endif %}
      <span class="date">{{ m.date|hour_or_date }}</span>
      </a
    ></li>
    {% empty %}
    <li>{% trans 'Hooray, no message here' %}!</li>
    {% endfor %}
    <li class="select">Select: <a>All, None, Read, Unread, Starred</a></li>
  </ul>
{% endblock %}
</div>

{% if err_msg %}
  <p class="errornote">{{ err_msg }}</p>
{% endif %}

{% for account in user.get_profile.accounts.all %}
{% if forloop.first %}
<a href="{% url compose %}">Compose</a>
{% endif %}
<h2><a href="{% url inbox account.id %}">{{ account.name }}</a></h2>
<ul class="menu">
  {% for dir in account.special_directories %}
  {% include 'directory.html' %}
  {% endfor %}
</ul>

<ul class="menu">
  {% for dir in account.imap_directories %}
  {% include 'directory.html' %}
  {% endfor %}
</ul>
{% endfor %}
{% endblock %}
