{% extends "base_settings.html" %}
{% load i18n %}

{% block title %}Wombat | {% trans 'Accounts' %}{% endblock %}

{% block form %}
	<div class="form">
		<ul>
            {% for a in accounts %}
            <li>{{ a }}
                <a href="{% url edit_account a.id %}">edit</a>
                <a href="{% url del_account a.id %}">delete</a>
            </li>
			{% empty %}
			<li>You don't have any account yet</li>
			{% endfor %}
		</ul>
		<p><a href="{% url add_account %}">Add an account</a></p>
  </div>
{% endblock %}
